body {
	margin: 0;
	padding: 0;
	
}

main {
	width: 800px;
	height: auto;
	padding: 2px;
	margin: 0 auto;
	margin-top: 250px;
	background-color: #259788;
	display: flex;
	flex-direction: column;
	align-items: center;

	
}

.container {
	margin: 2x;
	
}

.quadrado {
	width: 250px;
	height: 250px;
	background-color: #AB47BC;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 3px;
	font-family: verdana, arial, cursive;
}

.circ {
	width: 250px;
	height: 250px;
	background-color: #FBB301;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 3px;
	font-family: verdana, arial, cursive;

}

.ajuste-quad {
	margin-right: auto;	
	
	
}

.ajuste-circ {
	margin-top: 10px;
	margin-left: auto;
}